{% extends 'base.html.twig' %}

{% block title %}Création d'une catégorie{% endblock %}

{% block body %}
    <h1>Création d'une catégorie</h1>

    {{ include('category/_form.html.twig') }}

    <a href="{{ path('category_index') }}" class="action-link"">Retour à l'index</a>
{% endblock %}
