{% extends 'base.html.twig' %}

{% block title %}Nouvel article{% endblock %}

{% block body %}
    <h1>Création d'un article</h1>

    {{ include('article/_form.html.twig') }}

    <a href="{{ path('article_index') }}" class="action-link">Retour à l'index</a>
{% endblock %}
