{# Création de la barre de recherche.
    Le but est de permettre à l'utilisateur de chercher les articles dans la base
    de données selon le titre. #}
<div class="formSearch">
    <p>Faire une recherche d'article par titre</p>
    <form action="{{ path('article_search') }}" method="get">
        <input type="text" name="query" placeholder="Saisir ici..." required>
        <button type="submit">Recherche</button>
    </form>
</div>
